<h1>All Customers</h1>
<p><%= link_to 'Alphabetized', alphabetized_path %></p>
<p><%= link_to 'Missing Emails', missing_email_path %></p>
<%= render partial: 'customer',
           collection: @customers, as: :customer  %>
