<h1>Customers Without Emails</h1>
<p><%= link_to 'Alphabetized', alphabetized_path %></p>
<p><%= link_to 'Home', index_path %></p>
<%= render partial: 'customer',
           collection: @missing_email_customers, as: :customer %>
