// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.customer{
  display: inline-block;
  padding: 10px 20px;
  border: 1px #D3D3D3 solid;
  border-radius: 4px;
  margin: 10px;
  width: 200px;
  height: 500px;

  img{
    display: block;
    margin: 0px auto;
    height: 300px;
    width: 200px;
  }

  p {
    font-size: 15px;
  }
}
